Repository Data-iesb/Data-IESB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @roberto-diniz, @leonardo-a-pereira, @Ilton-ferreira, @marley-silva

.github/CODEOWNERS:

# Data IESB Code Owners
# This file defines who must review and approve changes to specific parts of the codebase

# Global owners - these users are requested for review on all changes
* @roberto-diniz

# Infrastructure and deployment files
deploy-dev.sh @roberto-diniz
.github/workflows/ @roberto-diniz
dev-config.json @roberto-diniz
branch-protection-config.json @roberto-diniz

# AWS and infrastructure documentation
DEV-README.md @roberto-diniz
change-default-branch.md @roberto-diniz

# Team data and dynamic content
src/js/team-data.js @roberto-diniz @leonardo-a-pereira
src/equipe.html @roberto-diniz @leonardo-a-pereira

# Database and backend related
reports.json @roberto-diniz @Ilton-ferreira

# Styling and design
src/style/ @roberto-diniz @marley-silva
src/miv.html @roberto-diniz @marley-silva

# Main pages - require multiple approvals
src/index.html @roberto-diniz @leonardo-a-pereira
src/quem-somos.html @roberto-diniz @leonardo-a-pereira

# Configuration files - require admin approval
*.json @roberto-diniz
*.yml @roberto-diniz
*.yaml @roberto-diniz
*.sh @roberto-diniz

docs: Add GitHub setup checklist for dev-first workflow
  GITHUB-SETUP-CHECKLIST.md
Owners: @roberto-diniz

docs: Add GitHub setup checklist for dev-first workflow
  GITHUB-SETUP-CHECKLIST.md
Owners: @roberto-diniz

test: verify development deployment pipeline
  src/index.html
Owners: @roberto-diniz, @leonardo-a-pereira

test: verify development deployment pipeline
  src/index.html
Owners: @roberto-diniz, @leonardo-a-pereira

docs: Add custom domain setup documentation for dev.dataiesb.com
  CUSTOM-DOMAIN-SETUP.md
Owners: @roberto-diniz

docs: Add custom domain setup documentation for dev.dataiesb.com
  CUSTOM-DOMAIN-SETUP.md
Owners: @roberto-diniz

feat: Optimize Route 53 DNS configuration for dev.dataiesb.com
  ROUTE53-OPTIMIZATION.md
Owners: @roberto-diniz

feat: Optimize Route 53 DNS configuration for dev.dataiesb.com
  ROUTE53-OPTIMIZATION.md
Owners: @roberto-diniz

feat: Add LinkedIn profile support with DynamoDB integration
  src/js/setup-dynamodb-team.js
  src/js/team-data.js
  src/manage-linkedin.sh
  src/quem-somos.html
  src/setup-team-table.sh
  src/style/team-dynamic.css
Owners: @roberto-diniz, @leonardo-a-pereira, @marley-silva

feat: Add LinkedIn profile support with DynamoDB integration
  src/js/setup-dynamodb-team.js
  src/js/team-data.js
  src/manage-linkedin.sh
  src/quem-somos.html
  src/setup-team-table.sh
  src/style/team-dynamic.css
Owners: @roberto-diniz, @leonardo-a-pereira, @marley-silva

feat: Improve LinkedIn profile visibility and add demonstration
  src/demo-linkedin.sh
  src/style/team-dynamic.css
  src/test-linkedin.html
Owners: @roberto-diniz, @marley-silva

feat: Improve LinkedIn profile visibility and add demonstration
  src/demo-linkedin.sh
  src/style/team-dynamic.css
  src/test-linkedin.html
Owners: @roberto-diniz, @marley-silva

feat: Add Q Business chatbot integration and update parceiros page
  src/.env.template
  src/README-QBusiness-Chatbot.md
  src/chatbot_backend.py
  src/js/qbusiness-chatbot.js
  src/parceiros.html
  src/requirements.txt
  src/setup-qbusiness-chatbot.sh
  src/test-qbusiness-chatbot.py
Owners: @roberto-diniz

feat: Add Q Business chatbot integration and update parceiros page
  src/.env.template
  src/README-QBusiness-Chatbot.md
  src/chatbot_backend.py
  src/js/qbusiness-chatbot.js
  src/parceiros.html
  src/requirements.txt
  src/setup-qbusiness-chatbot.sh
  src/test-qbusiness-chatbot.py
Owners: @roberto-diniz

fix: Simplify LinkedIn implementation - make it immediately visible
  src/quem-somos.html
Owners: @roberto-diniz, @leonardo-a-pereira

fix: Simplify LinkedIn implementation - make it immediately visible
  src/quem-somos.html
Owners: @roberto-diniz, @leonardo-a-pereira
